infrastructure/n8n/workflows/02-lead-created.json
{
  "name": "02 — Lead created",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-trigger",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "lead_id", "value": "={{ $json.body.payload.lead_id }}", "type": "string" },
            { "id": "f2", "name": "lead_name", "value": "={{ $json.body.payload.lead_name }}", "type": "string" },
            { "id": "f3", "name": "lead_phone", "value": "={{ $json.body.payload.lead_phone }}", "type": "string" },
            { "id": "f4", "name": "lead_source", "value": "={{ $json.body.payload.lead_source }}", "type": "string" },
            { "id": "f5", "name": "assigned_employee_name", "value": "={{ $json.body.payload.assigned_employee_name }}", "type": "string" },
            { "id": "f6", "name": "assigned_employee_whatsapp", "value": "={{ $json.body.payload.assigned_employee_whatsapp }}", "type": "string" },
            { "id": "f7", "name": "erp_url", "value": "={{ $json.body.payload.erp_url }}", "type": "string" },
            { "id": "f8", "name": "timestamp_ist", "value": "={{ DateTime.fromISO($json.body.emitted_at).setZone('Asia/Kolkata').toFormat('dd LLL yyyy HH:mm') }} IST", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=🎯 *New lead* — {{ $json.lead_name }}\n\nPhone: {{ $json.lead_phone }}\nSource: {{ $json.lead_source }}\nAssigned: {{ $json.assigned_employee_name }}\nReceived: {{ $json.timestamp_ist }}\n\nOpen: {{ $json.erp_url }}\n\nPlease call within 30 minutes — conversion rate drops ~40% after the first hour of silence.",
              "type": "string"
            },
            { "id": "m2", "name": "to_phone", "value": "={{ $json.assigned_employee_whatsapp }}", "type": "string" },
            { "id": "m3", "name": "channel", "value": "whatsapp", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose WhatsApp message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "status", "value": "simulated", "type": "string" },
            { "id": "s2", "name": "reason", "value": "WABA credential not yet configured — replace this Set with a WhatsApp node once Meta approves", "type": "string" },
            { "id": "s3", "name": "would_send_to", "value": "={{ $json.to_phone }}", "type": "string" },
            { "id": "s4", "name": "would_send_body", "value": "={{ $json.message }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-simulate-send",
      "name": "SIMULATED SEND (replace with WhatsApp)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300]
    }
  ],
  "connections": {
    "When called by router": { "main": [[{ "node": "Extract fields", "type": "main", "index": 0 }]] },
    "Extract fields": { "main": [[{ "node": "Compose WhatsApp message", "type": "main", "index": 0 }]] },
    "Compose WhatsApp message": { "main": [[{ "node": "SIMULATED SEND (replace with WhatsApp)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    { "name": "erp" },
    { "name": "tier-1" },
    { "name": "sales" }
  ],
  "meta": {
    "description": "Triggered by the event bus router on lead.created. Expects payload: {lead_id, lead_name, lead_phone, lead_source, assigned_employee_name, assigned_employee_whatsapp, erp_url}. Formats and sends a WhatsApp message to the assigned salesperson within their phone's 30-min lead SLA."
  },
  "pinData": {}
}
