infrastructure/n8n/workflows/03-lead-stale-24h.json
{
  "name": "03 — Lead stale >24h (cron)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * *"
            }
          ]
        }
      },
      "id": "node-cron",
      "name": "Daily 9:00 IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $env.SUPABASE_PROJECT_ID }}.supabase.co/rest/v1/v_digest_leads_stale_24h",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-http",
      "name": "Fetch stale leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_CRED_ID",
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "node-split",
      "name": "One item per stale lead",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=⏰ *Lead stuck >24h* — {{ $json.customer_name }}\n\nPhone: {{ $json.phone }}\nStatus: {{ $json.status }}\nStuck: {{ Math.floor($json.hours_since_update) }} hrs\nAssigned: {{ $json.assigned_employee_name }}\n\nPlease move it forward today — either call, requalify, or mark lost.",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "to_phone",
              "value": "={{ $json.assigned_employee_phone }}",
              "type": "string"
            },
            {
              "id": "m3",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose WhatsApp per lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $json.to_phone }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  {
                    "type": "text",
                    "text": "={{ $json.message.split('\\n')[0] }}"
                  },
                  {
                    "type": "text",
                    "text": "={{ ($json.message.split('\\n').slice(1).filter(l => l.trim()).join(' · ')) || ' ' }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-0lnscz",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      }
    }
  ],
  "connections": {
    "Daily 9:00 IST": {
      "main": [
        [
          {
            "node": "Fetch stale leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch stale leads": {
      "main": [
        [
          {
            "node": "One item per stale lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "One item per stale lead": {
      "main": [
        [
          {
            "node": "Compose WhatsApp per lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose WhatsApp per lead": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Kolkata"
  },
  "tags": [
    {
      "name": "erp"
    },
    {
      "name": "tier-1"
    },
    {
      "name": "sales"
    },
    {
      "name": "cron"
    }
  ],
  "meta": {
    "description": "Daily 9:00 IST cron. Queries v_digest_leads_stale_24h (created in migration 083) and sends one WhatsApp per stale lead to its assigned salesperson. View handles all filtering (active lead + no status change >24h + not in terminal state) — this workflow is pure orchestration. Requires Supabase service-role HTTP Header Auth credential with SUPABASE_PROJECT_ID + SUPABASE_SECRET_KEY env vars set on the n8n droplet."
  },
  "pinData": {}
}
