infrastructure/n8n/workflows/03-lead-stale-24h.json
{
  "name": "03 — Lead stale >24h (cron)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 30 3 * * *" }
          ]
        }
      },
      "id": "node-cron",
      "name": "Daily 9:00 IST (03:30 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $env.SUPABASE_PROJECT_ID }}.supabase.co/rest/v1/v_digest_leads_stale_24h",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SECRET_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-http",
      "name": "Fetch stale leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_CRED_ID",
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "node-split",
      "name": "One item per stale lead",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=⏰ *Lead stuck >24h* — {{ $json.customer_name }}\n\nPhone: {{ $json.phone }}\nStatus: {{ $json.status }}\nStuck: {{ Math.floor($json.hours_since_update) }} hrs\nAssigned: {{ $json.assigned_employee_name }}\n\nPlease move it forward today — either call, requalify, or mark lost.",
              "type": "string"
            },
            { "id": "m2", "name": "to_phone", "value": "={{ $json.assigned_employee_phone }}", "type": "string" },
            { "id": "m3", "name": "channel", "value": "whatsapp", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose WhatsApp per lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "status", "value": "simulated", "type": "string" },
            { "id": "s2", "name": "reason", "value": "WABA credential not yet configured — replace this Set with a WhatsApp node once Meta approves", "type": "string" },
            { "id": "s3", "name": "would_send_to", "value": "={{ $json.to_phone }}", "type": "string" },
            { "id": "s4", "name": "would_send_body", "value": "={{ $json.message }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-simulate-send",
      "name": "SIMULATED SEND (replace with WhatsApp)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Daily 9:00 IST (03:30 UTC)": { "main": [[{ "node": "Fetch stale leads", "type": "main", "index": 0 }]] },
    "Fetch stale leads": { "main": [[{ "node": "One item per stale lead", "type": "main", "index": 0 }]] },
    "One item per stale lead": { "main": [[{ "node": "Compose WhatsApp per lead", "type": "main", "index": 0 }]] },
    "Compose WhatsApp per lead": { "main": [[{ "node": "SIMULATED SEND (replace with WhatsApp)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    { "name": "erp" },
    { "name": "tier-1" },
    { "name": "sales" },
    { "name": "cron" }
  ],
  "meta": {
    "description": "Daily 9:00 IST cron. Queries v_digest_leads_stale_24h (created in migration 083) and sends one WhatsApp per stale lead to its assigned salesperson. View handles all filtering (active lead + no status change >24h + not in terminal state) — this workflow is pure orchestration. Requires Supabase service-role HTTP Header Auth credential with SUPABASE_PROJECT_ID + SUPABASE_SECRET_KEY env vars set on the n8n droplet."
  },
  "pinData": {}
}
