infrastructure/n8n/workflows/04-proposal-requested.json
{
  "name": "04 — Proposal requested (Design)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-trigger",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "proposal_id", "value": "={{ $json.body.payload.proposal_id }}", "type": "string" },
            { "id": "f2", "name": "proposal_number", "value": "={{ $json.body.payload.proposal_number }}", "type": "string" },
            { "id": "f3", "name": "customer_name", "value": "={{ $json.body.payload.customer_name }}", "type": "string" },
            { "id": "f4", "name": "customer_phone", "value": "={{ $json.body.payload.customer_phone }}", "type": "string" },
            { "id": "f5", "name": "city", "value": "={{ $json.body.payload.city }}", "type": "string" },
            { "id": "f6", "name": "estimated_size_kwp", "value": "={{ $json.body.payload.estimated_size_kwp }}", "type": "string" },
            { "id": "f7", "name": "requested_by_name", "value": "={{ $json.body.payload.requested_by_name }}", "type": "string" },
            { "id": "f8", "name": "design_head_whatsapp", "value": "={{ $json.body.payload.design_head_whatsapp }}", "type": "string" },
            { "id": "f9", "name": "erp_url", "value": "={{ $json.body.payload.erp_url }}", "type": "string" },
            { "id": "f10", "name": "timestamp_ist", "value": "={{ DateTime.fromISO($json.body.emitted_at).setZone('Asia/Kolkata').toFormat('dd LLL yyyy HH:mm') }} IST", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=📐 *New proposal requested* — {{ $json.customer_name }}\n\nPhone: {{ $json.customer_phone }}\nCity: {{ $json.city }}\nSize: {{ $json.estimated_size_kwp }} kWp\nRequested by: {{ $json.requested_by_name }}\nRaised: {{ $json.timestamp_ist }}\n\nOpen: {{ $json.erp_url }}\n\nPlease assign a designer — salesperson is waiting on a quote.",
              "type": "string"
            },
            { "id": "m2", "name": "to_phone", "value": "={{ $json.design_head_whatsapp }}", "type": "string" },
            { "id": "m3", "name": "channel", "value": "whatsapp", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose WhatsApp message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "phoneNumberId": "1140448799143790",
        "toPhoneNumber": "={{ $json.to_phone }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "node-whatsapp-send",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [750, 300],
      "credentials": {
        "whatsAppBusinessAccountApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      }
    }
  ],
  "connections": {
    "When called by router": { "main": [[{ "node": "Extract fields", "type": "main", "index": 0 }]] },
    "Extract fields": { "main": [[{ "node": "Compose WhatsApp message", "type": "main", "index": 0 }]] },
    "Compose WhatsApp message": { "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    { "name": "erp" },
    { "name": "tier-1" },
    { "name": "design" }
  ],
  "meta": {
    "description": "Triggered by router on proposal.requested. Payload: {proposal_id, proposal_number, customer_name, customer_phone, city, estimated_size_kwp, requested_by_name, design_head_whatsapp, erp_url}. Pings the Design team head so they can assign a designer to draft the quote."
  },
  "pinData": {}
}
