infrastructure/n8n/workflows/08-vendor-payment-due.json
{
  "name": "08 — Vendor payment due (7d cron)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 0 9 * * *" }
          ]
        }
      },
      "id": "node-cron",
      "name": "Daily 9:00 IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $env.SUPABASE_PROJECT_ID }}.supabase.co/rest/v1/v_digest_vendor_payments_due_7d",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SECRET_KEY }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "node-http",
      "name": "Fetch payments due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_CRED_ID",
          "name": "Supabase service role"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all vendor payments due into ONE digest message.\n// Replaces the per-PO splitOut that fanned out into ~4 sends per PO\n// (Finance / Vinodh / Sridhar / Vivek-high-value-cc) — easily hundreds\n// of messages on a busy day, blowing Meta's burst rate-limit.\nconst rows = $input.first().json;\nconst pos = Array.isArray(rows) ? rows : (rows.data ?? []);\nif (!pos.length) {\n  // Empty array — output nothing so downstream Send nodes don't fire.\n  return [];\n}\n\nconst total = pos.length;\nconst totalOutstanding = pos.reduce((s, p) => s + Number(p.amount_outstanding || 0), 0);\nconst totalLakhs = (totalOutstanding / 100000).toFixed(1);\n\nconst HIGH_VALUE_THRESHOLD = 500000;\nconst highValuePos = pos.filter(p => Number(p.amount_outstanding || 0) >= HIGH_VALUE_THRESHOLD);\nconst msmePos = pos.filter(p => p.vendor_is_msme);\n\nconst formatPo = (p) => {\n  const vendor = (p.vendor_name || 'Unknown').slice(0, 25);\n  const amt = (Number(p.amount_outstanding || 0) / 100000).toFixed(1);\n  const due = (p.payment_due_date || '').slice(5); // MM-DD\n  const flags = [\n    Number(p.amount_outstanding || 0) >= HIGH_VALUE_THRESHOLD ? '🚨' : '',\n    p.vendor_is_msme ? 'MSME' : '',\n  ].filter(Boolean).join(' ');\n  return `${vendor} ₹${amt}L (${due}${flags ? ` ${flags}` : ''})`;\n};\n\nconst MAX_INLINE = 8;\nconst inline = pos.slice(0, MAX_INLINE).map(formatPo).join(' · ');\nconst more = total > MAX_INLINE ? ` · +${total - MAX_INLINE} more` : '';\n\nconst flagsLine = [\n  highValuePos.length > 0 ? `🚨 ${highValuePos.length} high-value (>₹5L)` : '',\n  msmePos.length > 0 ? `🔔 ${msmePos.length} MSME (45-day window)` : '',\n].filter(Boolean).join(' · ');\n\nconst title = `💸 *Vendor payments due (7d)* — ${total} PO${total === 1 ? '' : 's'} · ₹${totalLakhs}L outstanding`;\nconst body = `${inline}${more}${flagsLine ? ` · ${flagsLine}` : ''} · Open ERP /purchase to schedule.`;\n\nreturn [{\n  json: {\n    to_phone_finance: process.env.FINANCE_HEAD_WHATSAPP || '',\n    to_phone_vinodh: process.env.VINODH_WHATSAPP || '',\n    to_phone_sridhar: process.env.SRIDHAR_WHATSAPP || '',\n    title,\n    body: body.slice(0, 900),\n    total_count: total,\n    high_value_count: highValuePos.length,\n  },\n}];\n"
      },
      "id": "node-aggregate",
      "name": "Aggregate digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $env.FINANCE_HEAD_WHATSAPP }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  { "type": "text", "text": "={{ $json.title }}" },
                  { "type": "text", "text": "={{ ($json.body || ' ').slice(0, 900) }}" }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-finance",
      "name": "Send to Finance head",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [750, 200],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $env.VINODH_WHATSAPP }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  { "type": "text", "text": "={{ $json.title }}" },
                  { "type": "text", "text": "={{ ($json.body || ' ').slice(0, 900) }}" }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-vinodh",
      "name": "Send to Vinodh",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [750, 300],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $env.SRIDHAR_WHATSAPP }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  { "type": "text", "text": "={{ $json.title }}" },
                  { "type": "text", "text": "={{ ($json.body || ' ').slice(0, 900) }}" }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-sridhar",
      "name": "Send to Sridhar",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [750, 400],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily 9:00 IST": { "main": [[{ "node": "Fetch payments due", "type": "main", "index": 0 }]] },
    "Fetch payments due": { "main": [[{ "node": "Aggregate digest", "type": "main", "index": 0 }]] },
    "Aggregate digest": {
      "main": [
        [
          { "node": "Send to Finance head", "type": "main", "index": 0 },
          { "node": "Send to Vinodh", "type": "main", "index": 0 },
          { "node": "Send to Sridhar", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Kolkata"
  },
  "tags": [
    { "name": "erp" },
    { "name": "tier-1" },
    { "name": "finance" },
    { "name": "procurement" },
    { "name": "cron" }
  ],
  "meta": {
    "description": "Daily 9 AM IST. Fetches v_digest_vendor_payments_due_7d (mig 085) and aggregates ALL due POs into ONE digest sent to 3 recipients in parallel: Finance head (= Vivek until Finance is hired) + Vinodh + Sridhar. Replaces the prior per-PO splitOut + fan-out that produced 4 sends per PO (hundreds of messages on busy days, blowing Meta's burst rate-limit). Aggregate inlines top 8 POs by ₹ then `+N more`, shows total outstanding ₹L, flags counts of high-value (>₹5L) + MSME POs. Empty result = no messages fire. When real Finance head is hired, FINANCE_HEAD_WHATSAPP env switches and Vivek stops getting these (intentional)."
  },
  "pinData": {}
}
