infrastructure/n8n/workflows/09-grn-recorded.json
{
  "name": "09 — GRN recorded",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-trigger",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "grn_id", "value": "={{ $json.body.payload.grn_id }}", "type": "string" },
            { "id": "f2", "name": "grn_number", "value": "={{ $json.body.payload.grn_number }}", "type": "string" },
            { "id": "f3", "name": "po_number", "value": "={{ $json.body.payload.po_number }}", "type": "string" },
            { "id": "f4", "name": "vendor_name", "value": "={{ $json.body.payload.vendor_name }}", "type": "string" },
            { "id": "f5", "name": "project_code", "value": "={{ $json.body.payload.project_code }}", "type": "string" },
            { "id": "f6", "name": "received_value", "value": "={{ $json.body.payload.received_value }}", "type": "string" },
            { "id": "f7", "name": "received_by_name", "value": "={{ $json.body.payload.received_by_name }}", "type": "string" },
            { "id": "f8", "name": "finance_head_whatsapp", "value": "={{ $json.body.payload.finance_head_whatsapp }}", "type": "string" },
            { "id": "f9", "name": "erp_url", "value": "={{ $json.body.payload.erp_url }}", "type": "string" },
            { "id": "f10", "name": "timestamp_ist", "value": "={{ DateTime.fromISO($json.body.emitted_at).setZone('Asia/Kolkata').toFormat('dd LLL yyyy HH:mm') }} IST", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=📦 *GRN recorded* — {{ $json.grn_number }}\n\nPO: {{ $json.po_number }}\nVendor: {{ $json.vendor_name }}\nProject: {{ $json.project_code }}\nReceived value: ₹{{ $json.received_value }}\nReceived by: {{ $json.received_by_name }}\nWhen: {{ $json.timestamp_ist }}\n\nOpen: {{ $json.erp_url }}\n\nVendor can now be paid for this GRN — unlock the payment schedule.",
              "type": "string"
            },
            { "id": "m2", "name": "to_phone", "value": "={{ $json.finance_head_whatsapp }}", "type": "string" },
            { "id": "m3", "name": "channel", "value": "whatsapp", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose WhatsApp message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "status", "value": "simulated", "type": "string" },
            { "id": "s2", "name": "reason", "value": "WABA credential not yet configured — replace this Set with a WhatsApp node once Meta approves", "type": "string" },
            { "id": "s3", "name": "would_send_to", "value": "={{ $json.to_phone }}", "type": "string" },
            { "id": "s4", "name": "would_send_body", "value": "={{ $json.message }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-simulate-send",
      "name": "SIMULATED SEND (replace with WhatsApp)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300]
    }
  ],
  "connections": {
    "When called by router": { "main": [[{ "node": "Extract fields", "type": "main", "index": 0 }]] },
    "Extract fields": { "main": [[{ "node": "Compose WhatsApp message", "type": "main", "index": 0 }]] },
    "Compose WhatsApp message": { "main": [[{ "node": "SIMULATED SEND (replace with WhatsApp)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    { "name": "erp" },
    { "name": "tier-1" },
    { "name": "finance" }
  ],
  "meta": {
    "description": "Triggered by router on grn.recorded. Payload: {grn_id, grn_number, po_number, vendor_name, project_code, received_value, received_by_name, finance_head_whatsapp, erp_url}. Pings the Finance head that vendor goods landed and payment schedule can unlock. Still blocked on ERP wiring — no createGRN action exists yet."
  },
  "pinData": {}
}
