infrastructure/n8n/workflows/10-installation-scheduled.json
{
  "name": "10 — Installation scheduled",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-trigger",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "project_id",
              "value": "={{ $json.body.payload.project_id }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "project_number",
              "value": "={{ $json.body.payload.project_number }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "customer_name",
              "value": "={{ $json.body.payload.customer_name }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "customer_phone",
              "value": "={{ $json.body.payload.customer_phone }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "site_city",
              "value": "={{ $json.body.payload.site_city }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "system_size_kwp",
              "value": "={{ $json.body.payload.system_size_kwp }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "planned_start_date",
              "value": "={{ $json.body.payload.planned_start_date }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "project_manager_name",
              "value": "={{ $json.body.payload.project_manager_name }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "project_manager_whatsapp",
              "value": "={{ $json.body.payload.project_manager_whatsapp }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "site_supervisor_whatsapp",
              "value": "={{ $json.body.payload.site_supervisor_whatsapp }}",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "erp_url",
              "value": "={{ $json.body.payload.erp_url }}",
              "type": "string"
            },
            {
              "id": "f12",
              "name": "timestamp_ist",
              "value": "={{ DateTime.fromISO($json.body.emitted_at).setZone('Asia/Kolkata').toFormat('dd LLL yyyy HH:mm') }} IST",
              "type": "string"
            },
            {
              "id": "f13",
              "name": "planned_start_ist",
              "value": "={{ DateTime.fromISO($json.body.payload.planned_start_date).setZone('Asia/Kolkata').toFormat('dd LLL yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=🏗️ *Install scheduled* — {{ $json.customer_name }} ({{ $json.project_number }})\n\nCity: {{ $json.site_city }}\nSize: {{ $json.system_size_kwp }} kWp\nStart: {{ $json.planned_start_ist }}\nPM: {{ $json.project_manager_name }}\nScheduled at: {{ $json.timestamp_ist }}\n\nOpen: {{ $json.erp_url }}\n\nConfirm site access, safety kit, and material delivery before start date.",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "to_phone",
              "value": "={{ $json.site_supervisor_whatsapp }}",
              "type": "string"
            },
            {
              "id": "m3",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose WhatsApp message (Site supervisor)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $json.to_phone }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  {
                    "type": "text",
                    "text": "={{ $json.message.split('\\n')[0] }}"
                  },
                  {
                    "type": "text",
                    "text": "={{ ($json.message.split('\\n').slice(1).filter(l => l.trim()).join(' · ')) || ' ' }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-xkmbku",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      }
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Extract fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract fields": {
      "main": [
        [
          {
            "node": "Compose WhatsApp message (Site supervisor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose WhatsApp message (Site supervisor)": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {
      "name": "erp"
    },
    {
      "name": "tier-1"
    },
    {
      "name": "projects"
    }
  ],
  "meta": {
    "description": "Triggered by router on project.installation_scheduled. Payload: {project_id, project_number, customer_name, customer_phone, site_city, system_size_kwp, planned_start_date, project_manager_name, project_manager_whatsapp, site_supervisor_whatsapp, erp_url}. Pings the site supervisor. Phase 2 will fan out to the customer via a Tier 4 workflow once WABA utility templates are approved."
  },
  "pinData": {}
}
