infrastructure/n8n/workflows/11-installation-complete.json
{
  "name": "11 — Installation complete",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-trigger",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "project_id", "value": "={{ $json.body.payload.project_id }}", "type": "string" },
            { "id": "f2", "name": "project_number", "value": "={{ $json.body.payload.project_number }}", "type": "string" },
            { "id": "f3", "name": "customer_name", "value": "={{ $json.body.payload.customer_name }}", "type": "string" },
            { "id": "f4", "name": "customer_phone", "value": "={{ $json.body.payload.customer_phone }}", "type": "string" },
            { "id": "f5", "name": "system_size_kwp", "value": "={{ $json.body.payload.system_size_kwp }}", "type": "string" },
            { "id": "f6", "name": "actual_end_date", "value": "={{ $json.body.payload.actual_end_date }}", "type": "string" },
            { "id": "f7", "name": "project_manager_name", "value": "={{ $json.body.payload.project_manager_name }}", "type": "string" },
            { "id": "f8", "name": "liaison_lead_whatsapp", "value": "={{ $json.body.payload.liaison_lead_whatsapp }}", "type": "string" },
            { "id": "f9", "name": "erp_url", "value": "={{ $json.body.payload.erp_url }}", "type": "string" },
            { "id": "f10", "name": "timestamp_ist", "value": "={{ DateTime.fromISO($json.body.emitted_at).setZone('Asia/Kolkata').toFormat('dd LLL yyyy HH:mm') }} IST", "type": "string" },
            { "id": "f11", "name": "end_date_ist", "value": "={{ DateTime.fromISO($json.body.payload.actual_end_date).setZone('Asia/Kolkata').toFormat('dd LLL yyyy') }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=⚡ *Install complete* — {{ $json.customer_name }} ({{ $json.project_number }})\n\nSize: {{ $json.system_size_kwp }} kWp\nFinished: {{ $json.end_date_ist }}\nPM: {{ $json.project_manager_name }}\n\nOpen: {{ $json.erp_url }}\n\nPlease raise the CEIG submission — commissioning is blocked until approval.",
              "type": "string"
            },
            { "id": "m2", "name": "to_phone", "value": "={{ $json.liaison_lead_whatsapp }}", "type": "string" },
            { "id": "m3", "name": "channel", "value": "whatsapp", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose WhatsApp message (Liaison)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "status", "value": "simulated", "type": "string" },
            { "id": "s2", "name": "reason", "value": "WABA credential not yet configured — replace this Set with a WhatsApp node once Meta approves", "type": "string" },
            { "id": "s3", "name": "would_send_to", "value": "={{ $json.to_phone }}", "type": "string" },
            { "id": "s4", "name": "would_send_body", "value": "={{ $json.message }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-simulate-send",
      "name": "SIMULATED SEND (replace with WhatsApp)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300]
    }
  ],
  "connections": {
    "When called by router": { "main": [[{ "node": "Extract fields", "type": "main", "index": 0 }]] },
    "Extract fields": { "main": [[{ "node": "Compose WhatsApp message (Liaison)", "type": "main", "index": 0 }]] },
    "Compose WhatsApp message (Liaison)": { "main": [[{ "node": "SIMULATED SEND (replace with WhatsApp)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    { "name": "erp" },
    { "name": "tier-1" },
    { "name": "liaison" }
  ],
  "meta": {
    "description": "Triggered by router on project.installation_complete. Payload: {project_id, project_number, customer_name, customer_phone, system_size_kwp, actual_end_date, project_manager_name, liaison_lead_whatsapp, erp_url}. Pings the Liaison lead so CEIG paperwork starts immediately. Distinct from project.commissioned (13) which fires after CEIG + final handover."
  },
  "pinData": {}
}
