infrastructure/n8n/workflows/12-ceig-approval-received.json
{
  "name": "12 — CEIG approval received",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-trigger",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "project_id",
              "value": "={{ $json.body.payload.project_id }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "project_number",
              "value": "={{ $json.body.payload.project_number }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "customer_name",
              "value": "={{ $json.body.payload.customer_name }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "customer_phone",
              "value": "={{ $json.body.payload.customer_phone }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "ceig_approval_number",
              "value": "={{ $json.body.payload.ceig_approval_number }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "ceig_approval_date",
              "value": "={{ $json.body.payload.ceig_approval_date }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "project_manager_name",
              "value": "={{ $json.body.payload.project_manager_name }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "project_manager_whatsapp",
              "value": "={{ $json.body.payload.project_manager_whatsapp }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "erp_url",
              "value": "={{ $json.body.payload.erp_url }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "timestamp_ist",
              "value": "={{ DateTime.fromISO($json.body.emitted_at).setZone('Asia/Kolkata').toFormat('dd LLL yyyy HH:mm') }} IST",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "approval_date_ist",
              "value": "={{ DateTime.fromISO($json.body.payload.ceig_approval_date).setZone('Asia/Kolkata').toFormat('dd LLL yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=🎉 *CEIG approval received* — {{ $json.customer_name }} ({{ $json.project_number }})\n\nApproval #: {{ $json.ceig_approval_number }}\nApproval date: {{ $json.approval_date_ist }}\nPM: {{ $json.project_manager_name }}\n\nOpen: {{ $json.erp_url }}\n\nCommissioning can now be scheduled — please coordinate with TNEB for meter change and book final handover.",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "to_phone",
              "value": "={{ $json.project_manager_whatsapp }}",
              "type": "string"
            },
            {
              "id": "m3",
              "name": "channel",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose WhatsApp message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $json.to_phone }}",
        "messageType": "text",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "node-whatsapp-b9s0vh",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      }
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Extract fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract fields": {
      "main": [
        [
          {
            "node": "Compose WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose WhatsApp message": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {
      "name": "erp"
    },
    {
      "name": "tier-1"
    },
    {
      "name": "liaison"
    }
  ],
  "meta": {
    "description": "Triggered by router on ceig_approval.received. Payload: {project_id, project_number, customer_name, customer_phone, ceig_approval_number, ceig_approval_date, project_manager_name, project_manager_whatsapp, erp_url}. Pings the PM so they can kick off commissioning + TNEB coordination. Wired to liaison-actions.updateCeigStatus → emitCeigApprovalReceived."
  },
  "pinData": {}
}
