infrastructure/n8n/workflows/13-project-commissioned.json
{
  "name": "13 — Project commissioned",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "node-trigger",
      "name": "When called by router",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "project_id",
              "value": "={{ $json.body.payload.project_id }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "customer_name",
              "value": "={{ $json.body.payload.customer_name }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "customer_phone",
              "value": "={{ $json.body.payload.customer_phone }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "system_size_kwp",
              "value": "={{ $json.body.payload.system_size_kwp }}",
              "type": "number"
            },
            {
              "id": "f5",
              "name": "commissioning_date",
              "value": "={{ $json.body.payload.commissioning_date }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "finance_head_whatsapp",
              "value": "={{ $json.body.payload.finance_head_whatsapp }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "final_invoice_amount",
              "value": "={{ $json.body.payload.final_invoice_amount }}",
              "type": "number"
            },
            {
              "id": "f8",
              "name": "erp_url",
              "value": "={{ $json.body.payload.erp_url }}",
              "type": "string"
            },
            {
              "id": "f9",
              "name": "customer_portal_url",
              "value": "={{ $json.body.payload.customer_portal_url }}",
              "type": "string"
            },
            {
              "id": "f10",
              "name": "timestamp_ist",
              "value": "={{ DateTime.fromISO($json.body.emitted_at).setZone('Asia/Kolkata').toFormat('dd LLL yyyy HH:mm') }} IST",
              "type": "string"
            },
            {
              "id": "f11",
              "name": "final_invoice_display",
              "value": "={{ $json.body.payload.final_invoice_amount ? '₹' + ($json.body.payload.final_invoice_amount / 100000).toFixed(2) + 'L' : '—' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message_customer",
              "value": "=🎉 *Your solar plant is live!*\n\n{{ $json.customer_name }} — your {{ $json.system_size_kwp }} kWp rooftop plant was commissioned on {{ $json.timestamp_ist }}.\n\nFrom today:\n• It starts generating clean energy and savings\n• Track daily generation on your portal: {{ $json.customer_portal_url }}\n• Our O&M team monitors your inverter 24×7\n\nFinal invoice of {{ $json.final_invoice_display }} will arrive within 24h.\n\nThank you for choosing Shiroi Energy. ☀️",
              "type": "string"
            },
            {
              "id": "m2",
              "name": "message_finance",
              "value": "=🔌 *Project commissioned* — {{ $json.customer_name }}\n\nSize: {{ $json.system_size_kwp }} kWp\nCommissioned: {{ $json.timestamp_ist }}\nFinal invoice due: {{ $json.final_invoice_display }}\n\nAction: raise final invoice + handover document within 24h. Commission payout eligibility unlocks after customer pays.\n\nOpen: {{ $json.erp_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose both messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $json.customer_phone }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  {
                    "type": "text",
                    "text": "={{ $json.message_customer.split('\\n')[0] }}"
                  },
                  {
                    "type": "text",
                    "text": "={{ ($json.message_customer.split('\\n').slice(1).filter(l => l.trim()).join(' · ')) || ' ' }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-4jds2q",
      "name": "Send WhatsApp to Customer",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        750,
        200
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $json.finance_head_whatsapp }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  {
                    "type": "text",
                    "text": "={{ $json.message_finance.split('\\n')[0] }}"
                  },
                  {
                    "type": "text",
                    "text": "={{ ($json.message_finance.split('\\n').slice(1).filter(l => l.trim()).join(' · ')) || ' ' }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-2ybz6f",
      "name": "Send WhatsApp to Finance",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        750,
        400
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      }
    }
  ],
  "connections": {
    "When called by router": {
      "main": [
        [
          {
            "node": "Extract fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract fields": {
      "main": [
        [
          {
            "node": "Compose both messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose both messages": {
      "main": [
        [
          {
            "node": "Send WhatsApp to Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp to Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    {
      "name": "erp"
    },
    {
      "name": "tier-1"
    },
    {
      "name": "tier-4"
    },
    {
      "name": "projects"
    },
    {
      "name": "finance"
    }
  ],
  "meta": {
    "description": "Triggered on project.commissioned. Sends a celebration message to the customer AND a final-invoice trigger to Finance. Customer message requires an approved Meta template (marketing/utility); keep customer branch disabled until template approval lands. Expects payload: {project_id, customer_name, customer_phone, system_size_kwp, commissioning_date, finance_head_whatsapp, final_invoice_amount, erp_url, customer_portal_url}."
  },
  "pinData": {}
}
