infrastructure/n8n/workflows/26-liaison-head-daily-8am.json
{
  "name": "26 — Liaison head daily 8AM digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 30 2 * * *" }
          ]
        }
      },
      "id": "node-cron",
      "name": "Daily 8:00 IST (02:30 UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m1",
              "name": "message",
              "value": "=📋 *Liaison digest* — {{ DateTime.now().setZone('Asia/Kolkata').toFormat('EEE, dd LLL yyyy') }}\n\n⚠️ Placeholder — underlying digest views not yet built.\n\nWhen ready, this workflow should surface:\n• Net-metering applications past SLA (no v_digest_net_metering_stuck yet)\n• CEIG / DISCOM approvals pending with age (no v_digest_liaison_pending yet)\n• Statutory docs expiring in 30 days (no v_digest_docs_expiring_30d yet)\n\nOpen: https://erp.shiroienergy.com/liaison\n\n_TODO: author the three views above in a future migration, then replace this Set with an HTTP fetch + compose._",
              "type": "string"
            },
            { "id": "m2", "name": "to_phone", "value": "={{ $env.LIAISON_HEAD_WHATSAPP }}", "type": "string" },
            { "id": "m3", "name": "channel", "value": "whatsapp", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose placeholder digest",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s1", "name": "status", "value": "simulated", "type": "string" },
            { "id": "s2", "name": "reason", "value": "Placeholder workflow — liaison digest views not yet built AND WABA credential not yet configured", "type": "string" },
            { "id": "s3", "name": "would_send_to", "value": "={{ $json.to_phone }}", "type": "string" },
            { "id": "s4", "name": "would_send_body", "value": "={{ $json.message }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "node-simulate-send",
      "name": "SIMULATED SEND (replace with WhatsApp)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    }
  ],
  "connections": {
    "Daily 8:00 IST (02:30 UTC)": { "main": [[{ "node": "Compose placeholder digest", "type": "main", "index": 0 }]] },
    "Compose placeholder digest": { "main": [[{ "node": "SIMULATED SEND (replace with WhatsApp)", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    { "name": "erp" },
    { "name": "tier-2" },
    { "name": "liaison" },
    { "name": "digest" },
    { "name": "cron" },
    { "name": "placeholder" }
  ],
  "meta": {
    "description": "Daily 8:00 IST — Liaison head digest. PLACEHOLDER: no underlying v_digest views exist yet for liaison module. When net-metering / CEIG / statutory-docs views are authored (future migration), replace the Compose node with an HTTP fetch against those views. Requires env: LIAISON_HEAD_WHATSAPP (once live)."
  },
  "pinData": {}
}
