infrastructure/n8n/workflows/55-global-error-handler.json
{
  "name": "55 — Global Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "workflow_name",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "workflow_id",
              "value": "={{ $json.workflow.id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "execution_id",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "execution_url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "error_message",
              "value": "={{ ($json.execution.error?.message || 'unknown').toString().slice(0, 300) }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "error_node",
              "value": "={{ $json.execution.error?.node?.name || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "timestamp_ist",
              "value": "={{ DateTime.now().setZone('Asia/Kolkata').toFormat('yyyy-MM-dd HH:mm:ss') }} IST",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "title_param",
              "value": "=🚨 *n8n workflow failed* — {{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "body_param",
              "value": "=Node: {{ $json.execution.error?.node?.name || 'unknown' }} · Error: {{ ($json.execution.error?.message || 'unknown').toString().replace(/[\\n\\t]+/g,' ').replace(/ {4,}/g,' ').slice(0, 500) }} · Time: {{ DateTime.now().setZone('Asia/Kolkata').toFormat('yyyy-MM-dd HH:mm:ss') }} IST · Open: {{ $json.execution.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-normalize",
      "name": "Normalize error payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $env.VIVEK_WHATSAPP }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  { "type": "text", "text": "={{ $json.title_param }}" },
                  { "type": "text", "text": "={{ $json.body_param }}" }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-vivek",
      "name": "Send WhatsApp to Vivek",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [500, 200],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $env.VINODH_WHATSAPP }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  { "type": "text", "text": "={{ $json.title_param }}" },
                  { "type": "text", "text": "={{ $json.body_param }}" }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-vinodh",
      "name": "Send WhatsApp to Vinodh",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [500, 400],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Normalize error payload", "type": "main", "index": 0 }]]
    },
    "Normalize error payload": {
      "main": [
        [
          { "node": "Send WhatsApp to Vivek", "type": "main", "index": 0 },
          { "node": "Send WhatsApp to Vinodh", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "timezone": "Asia/Kolkata"
  },
  "tags": [
    { "name": "erp" },
    { "name": "tier-6" },
    { "name": "meta" }
  ],
  "meta": {
    "description": "Fires when any workflow in this n8n instance errors (via errorWorkflow setting). Sends an erp_alert template WhatsApp to Vivek + Vinodh with workflow name, failed node, error message (capped at 500 chars), and the execution URL. Replaces the prior Gmail node (2026-05-02 OAuth token expired after Google's 7-day testing-mode policy). All ops alerts on WhatsApp = one channel to monitor, no further Gmail-OAuth maintenance. Sridhar (Chairman) intentionally NOT cc'd here — chairman gets reports, not ops errors."
  },
  "pinData": {}
}
