infrastructure/n8n/workflows/56-droplet-health.json
{
  "name": "56 — Droplet heartbeat",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * *"
            }
          ]
        }
      },
      "id": "node-cron",
      "name": "Daily 9:00 IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "h1",
              "name": "timestamp_ist",
              "value": "={{ DateTime.now().setZone('Asia/Kolkata').toFormat('yyyy-MM-dd HH:mm:ss') }} IST",
              "type": "string"
            },
            {
              "id": "h2",
              "name": "uptime_iso",
              "value": "={{ DateTime.now().setZone('Asia/Kolkata').toISO() }}",
              "type": "string"
            },
            {
              "id": "h3",
              "name": "message",
              "value": "=✅ *n8n heartbeat* — droplet alive\n\nTime: {{ $json.timestamp_ist }}\nHost: n8n.shiroienergy.com (DO Bangalore)\n\n_If you don't see this message tomorrow at 9 AM IST, n8n may be down — check_ https://cloud.digitalocean.com/droplets",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-compose",
      "name": "Compose heartbeat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $env.VIVEK_WHATSAPP }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  {
                    "type": "text",
                    "text": "={{ $json.message.split('\\n')[0] }}"
                  },
                  {
                    "type": "text",
                    "text": "={{ ($json.message.split('\\n').slice(1).filter(l => l.trim()).join(' · ')) || ' ' }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-vivek",
      "name": "Send WhatsApp to Vivek",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        500,
        200
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendTemplate",
        "phoneNumberId": "1140448799143790",
        "recipientPhoneNumber": "={{ $env.VINODH_WHATSAPP }}",
        "template": "erp_alert|en",
        "components": {
          "component": [
            {
              "type": "body",
              "bodyParameters": {
                "parameter": [
                  {
                    "type": "text",
                    "text": "={{ $json.message.split('\\n')[0] }}"
                  },
                  {
                    "type": "text",
                    "text": "={{ ($json.message.split('\\n').slice(1).filter(l => l.trim()).join(' · ')) || ' ' }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "node-whatsapp-vinodh",
      "name": "Send WhatsApp to Vinodh",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        500,
        400
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "REPLACE_WITH_WHATSAPP_BUSINESS_CLOUD_CRED_ID",
          "name": "WhatsApp (Shiroi)"
        }
      }
    }
  ],
  "connections": {
    "Daily 9:00 IST": {
      "main": [
        [
          {
            "node": "Compose heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose heartbeat": {
      "main": [
        [
          {
            "node": "Send WhatsApp to Vivek",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp to Vinodh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_GLOBAL_ERROR_HANDLER_WORKFLOW_ID",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "timezone": "Asia/Kolkata"
  },
  "tags": [
    {
      "name": "erp"
    },
    {
      "name": "tier-6"
    },
    {
      "name": "meta"
    },
    {
      "name": "infra"
    },
    {
      "name": "cron"
    }
  ],
  "meta": {
    "description": "Daily 9 AM IST heartbeat — sends a 'still alive' WhatsApp ping to founders. If you don't see this message at 9 AM, n8n may be down. Replaces the original 15-min CPU/RAM/disk metrics monitor (which used n8n-nodes-base.executeCommand — that node was removed in current n8n version for security). For threshold-based metrics monitoring, use DigitalOcean's built-in monitoring + alerts (Droplets → shiroi-erp → Insights → Alerts) which is free, integrated, and doesn't depend on n8n. Requires env: VIVEK_WHATSAPP, VINODH_WHATSAPP."
  },
  "pinData": {}
}
